<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Blog</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<body style="padding-bottom: 0">

<div th:insert="~{header :: nav}"></div>

<div class="jumbotron">
    <div class="container" style="padding-top: 30px">
        <h1>Spring Security</h1>
        <p style="margin-top: 20px;">
            Hi Welcome to my blog!
        </p>
        <p style="margin-top: 20px;">
            <a class="btn btn-primary btn-lg" href="https://spring.io/projects/spring-security" role="button">
                Spring Security Official Document
            </a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Github</h2>
            <p>Please check here</p>
            <p>
                <a class="btn btn-default" href="https://github.com/">GitHub &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Instagram</h2>
            <p>Please check here</p>
            <p>
                <a class="btn btn-default" href="https://www.instagram.com/">Instagram &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>TikTok</h2>
            <p>Please check here</p>
            <p>
                <a class="btn btn-default" href="https://www.tiktok.com/en/">Details &raquo;</a>
            </p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2023 Power By <a href="https://github.com/coco2023">coco2023</a> .</p>
    </footer>
</div>
</body>
</html>