<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>You're Basic User</h1>
<a id="logoutUrl" href="">Logout</a>
<script>
  if(location.href.endsWith("basic/logout")) {
    location.href = "/basic/basicHome";
  }
  var randomUserUrl = location.protocol + "//randomUser:randomUser@" + location.host + "/basic/logout";
  document.querySelector("#logoutUrl").setAttribute("href", randomUserUrl);

</script>
</body>
</html>